
/* Main container */
.box1{
    width: 800px;
    height: 300px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* container of taking email */
.email{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

/* container of otp input feild */
.otp{
    display: flex;
    width: 100px;
}

/* Generate-otp btn */
.email button{
    width: 100%;
    height: 100%;
    margin-left: 20px;
}

/* otp input feild */
.otp input{
    width: 25px;
}

/* submit button */
.otp button{
    width: 100%;
    height: 50%;
    margin-left: 20px;
}